<div class="container">
  <md-toolbar color="primary" class="header">
    <div>Volodymyr Ilemskyi</div>
    <a md-button
       class="large first"
       routerLink="home"
       routerLinkActive="active">HOME</a>
    <a md-button
       class="large"
       routerLink="cv"
       routerLinkActive="active">CV</a>
    <a md-button
       class="large"
       routerLink="resume"
       routerLinkActive="active">RESUME</a>
    <a md-button
       class="large last"
       routerLink="certificates"
       routerLinkActive="active">CERTIFICATES</a>
    <button md-icon-button [mdMenuTriggerFor]="menu" class="small">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="home"
              routerLinkActive="active">
        <span>HOME</span>
      </button>
      <button md-menu-item routerLink="cv"
              routerLinkActive="active">
        <span>CV</span>
      </button>
      <button md-menu-item routerLink="resume"
              routerLinkActive="active">
        <span>RESUME</span>
      </button>
      <button md-menu-item routerLink="certificates"
              routerLinkActive="active">
        <span>CERTIFICATES</span>
      </button>
    </md-menu>
  </md-toolbar>
  <router-outlet></router-outlet>
  <md-toolbar color="primary" class="footer">
    <a md-button href="https://www.facebook.com/v.ilemsky" target="_blank">FACEBOOK</a>
    <a md-button href="https://www.linkedin.com/in/volodymyr-ilemskyi-187ba184" target="_blank">LINKEDIN</a>
    <a md-button href="https://www.github.com/vovail" target="_blank">GITHUB</a>
  </md-toolbar>
</div>
